<footer>
    <h2>LINKS</h2>

    <div class="footer-links">
        <a href="/">Home page</a>
        <a href="/Images">images</a>
        <a href="/posts/postwall">post wall</a>
        <% if(locals.user){ %>
            <a href="/users/profile/<%=user.id%>">user profile</a>
        <%}%>
        <a href="/users/images">user images</a>
        <a href="/users/signin">sign-in</a>
        <a href="/users/signup">sign-up</a>
    </div>
</footer>