<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.title%></title>
</head>
<body>
    <h1> MAIN PAGE -> <%= locals.title%> </h1>

    <% if(locals.user){ %> 
        <%= user.name %>
        <a href="/users/profile">profile</a>
        <a href="/users/signout">signout</a>
    <%}else{%> 
        <a href="/users/signin">sign-in</a>
        <a href="/users/signup">sign-up</a>
    <%}%>
</body>
</html>