<h4>this is postwall page content</h4>

<section>
    <% if(locals.user){ %>
        <h4>Post something ...</h4>
        <form action="/posts/createPost" id="user-post-form" method="post" >
            <textarea name="content" id="post-text" placeholder="say something" cols="30" rows="10"></textarea>
            <input type="submit" value="POST">
        </form>
    <%} %>

    <h3>POSTS</h3>
    <ul id="post-list-container">
        <% for(post of locals.posted){ %>
            <%- include('_posts') -%>
        <% } %>    
    </ul>
</section>
<script src="/Js/postwall_post.js"></script>
<script src="/Js/postwall_comment.js"></script>
