header{
    height: 10vh;
    background-color: #004643;
    color: #fffffe;
        
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    h1{
        margin: 0;
        color: #fffffe;
    }
    a{
        margin-left: 30px;
        color: #abd1c6;
        text-decoration: none;
    }
    a:hover{
        text-decoration: none;
        color: #f9bc60;
    }
    .user-id{
        width: 155px;

        .user-profile{
            border: none;
            cursor: pointer;
            height: 6vh;
            width: 6vh;
            border-radius: 50%;
            background-color: aliceblue;
        }

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}
