body{
    margin: 0;
    padding: 0;
    background-color: #abd1c6;
    color: #001e1d;

    h1{
        color: #001e1d;
        margin-top: 0;
    }

    #main-layout{
        height: 60vh;
    }
}

