#sideBar{
    background-color: #004643;
    color: #abd1c6;
    // padding: 0 10%;
    height: 101vh; 
    width: 18vw;  
    
    position: sticky;
    top: 0;
    
    .sideBar-links{
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;

        position: sticky;
        top: 0;
        
    }
    a{
        display: block;
        color: #abd1c6;
        text-decoration: none;
        margin: 0.5rem;
        
    }
    a:hover{
        text-decoration: none;
        color: #f9bc60;
    }

    .footer-links{
        height: 20vh;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}